﻿@model  Dagmar.Model.ViewModels.AcoesViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <table class="table">
        <tr>
            <th>Código</th>
            <th>Nome</th>
        </tr>
        @foreach(var item in Model.Entities)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nome</td>
            </tr>
        }
    </table>
</div>

